body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.837);
}
.logo img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}
ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}
#signin {
  border-radius: 5px;
  padding: 6px 12px;
  background-color: gold;
  color: #000;
}

#signup {
  background-color: gold;
  border-radius: 5px;
  padding: 6px 12px;
  color: black;
}
#signin:hover {
  background-color: #fff;
}
#signup:hover {
  background-color: #fff;
}
.faq {
  background-color: rgba(202, 236, 109, 0.523);
  height: 100vh;
  padding-top: 100px;
  padding-left: 30px;
}
.faq h1 {
  text-align: center;
}
.faq p {
  font-size: large;
}
